<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>

<body>
    <table border="0" cellspacing="0" cellpadding="0" style="font-family:'微软雅黑',Helvetica,Arial,sans-serif;font-size:14px " width="100%">
        <tbody>
           <tr>
               <td style="font-family:Helvetica,Arial,sans-serif;font-size:14px;">
               <table width="100%" border="0" cellpadding="5" cellspacing="0" >
                       <tbody>
                           <tr>
                               <td>
                                    <p style="margin:0;font-size:14px;line-height:24px;font-family:'微软雅黑',Helvetica,Arial,sans-serif;margin-bottom: 20px">
                                        尊敬的用户，您好：
                                    </p>
                                    <p style="color:#000;margin:0;font-size:14px;line-height:24px;font-family:'微软雅黑',Helvetica,Arial,sans-serif;">
                                       您此次申请的帐号邮箱信息变更需要的验证码如下:
                                       <div style="width: 100px;height: 50px;background-color: #0072bc;text-align: center;">
                                        <span style="color:rgb(244, 209, 54);font-weight: 700;font-size: 24px;line-height: 50px;">{0}</span>
                                        </div>
                                    </p>
                                    <p style="margin:0;font-size:14px;line-height:24px;font-family:'微软雅黑',Helvetica,Arial,sans-serif;margin-bottom: 20px">
                                        <strong>——AIKnoSearch Team</strong>
                                    </p>
                               </td>
                           </tr>
                       </tbody>
               </table>
              </td>
         </tr>
      </tbody>
   </table>            
</body>

</html>