<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>服务器错误</title>
    <link rel="icon" href="{% static 'img/icon/AIKno.png' %}">
</head>

<body>
<div id="container" style="width:1170px;text-align:center;margin :0 auto;">
    <h1 class="title">500 Server Error</h1>
    <p class="detail"
       style="margin-top: 100px;font-size: 72px;font-family: Arial, Helvetica, sans-serif;color: #121d56;">
        服务器出现了点小问题，请稍后刷新重试
    </p>

</div>
</body>

</html>