<!DOCTYPE html>
<html lang="en">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    {% block title %}

    {% endblock %}
    <link rel="icon" href="{% static 'img/icon/AIKno.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-3.3.7-css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.3.1/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-3.3.7-js/bootstrap.min.js' %}"></script>
    {% block  script %}

    {% endblock %}
</head>
<body>
<div id="container">
    {% block main %}

    {% endblock %}
    {% block footer %}

    {% endblock %}
</div>
</body>
</html>